{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <main>
        <h1>Home</h1>

        <div class="container">
            <img id="picture" src="{{ asset('build/images/REALME.jpg') }}" alt="Yeas">
            
            <div class="textbox"><p>Mitt namn är Emran Dzanic och jag är 19 år gammal. Mitt fritidsintresse är musik och sport! 
            Jag har under en längre tid gillat att jobba med musik, allt från musikproduktion till att bara spela instrument. 
            Jag har nyligen hittat ett intresse för fotboll. Jag ÄLSKAR att resa och utforska världen och jag hoppas 
            på att i snara framtiden åka till flera olika länder och se vad alla deras kulturer har att erbjuda.</p></div>
        </div>

    </main>
{% endblock %}